.container{
    width: 2000px;
}

.movie-card{
    background-color yellow;
    padding: 0.9em;
 ;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping to new lines */
    width: fit-content; /* Adjust width to fit content */
    
    border-radius: 2em;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%; 
}

.inside{
    display: inline-block;
    padding: 10px;
    border: 0.3em solid yellow;
    border-radius: 15px;
    margin: 10px;
    
}
.caption p{
    color: yellow;
}

/* List.css */

/* .movie-card {
    display: grid;
    grid-template-columns: repeat(auto, minmax(200px, 8fr));
    gap: 1rem;
  } */
  
  .inside {
    /* styles for the movie card */
  }
  
  @media (min-width: 576px) {
    .inside {
        width: 320px;
        height: 538px;
      /* adjust styles for the movie card on small devices */
      
    }
  }
  
  @media (min-width: 768px) {
    .inside {
        width: 340px;
        height: 500px;
      /* adjust styles for the movie card on medium devices */
    }
  }
  
  @media (min-width: 992px) {
    .inside {
        width: 400px;
        height: 550px;
      /* adjust styles for the movie card on large devices */
    }
  }
  
  @media (min-width: 1200px) {
    .inside {
        width: 320px;
        height: 500px;
      /* adjust styles for the movie card on extra large devices */
    }
  }
